/********                          ********/
/******** DET HEDDER CUBIC-BEZIER ********/
/********                        ********/
$orange:#EF7215;
$orangeNoHash:"EF7215";
$red: #C21807;
$blue: #108DEA;
$black: #181818;
$lightblue: #3DE7F8;
$gray: #a4a5a3;
$faded: #6c757d;

$lightorange: lighten($orange, 15%);
$lightred: lighten($red, 15%);
$lightblack: lighten($black, 15%);


$indigo: #536dc8;
$danube: #6191d1;
$white: #fff;
$bermuda: #77D7B9;

@import url('https://fonts.googleapis.com/css2?family=Kufam:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
html{
  overflow-x:hidden;
}
body{
  overflow-x:hidden;

}::selection {
  color: #fff;
  background: $orange;
}

/*scroll */
::-webkit-scrollbar {
  width: 12px;
}
/* background color */
::-webkit-scrollbar-track {
  background: #eee;
}
/* scroll anchor */
::-webkit-scrollbar-thumb {
  background: $black;
}
/* scroll anchor hover */
::-webkit-scrollbar-thumb:hover {
  background: $lightblack; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  /*  font-family: 'Kufam', Sans-serif;*/
  font-family: 'Poppins', sans-serif;
}

.global-wrapper{
  position:relative;
  padding-left:60px;
}
@media only screen and (max-width: 962px) {
  .global-wrapper{
    padding-left:0;
  }
}

/* random */

.flex {
  display: flex;
}

.flex-a {
  display: flex;
  justify-content: space-around;
}

.flex-b {
  display: flex;
  justify-content: space-between;
}

.flex-c {
  display: flex;
  justify-content: center;
  align-items:center;
}

.w50{
  width:50%;
}

.highlight{
  color: $orange !important;
}

hr{
  width:60px;
  height: 4px;
  background: $black;
  border: none;
  margin: 8px auto 16px auto;
}

.stopScrolling{
  overflow: hidden !important;
}
/* Logo */

#logo {
  height: 42px;
  display: block;
  margin: 8px auto;
}

.logo-svg-1 {
  fill: $orange;
  transition: all .4s;
}

.logo-svg-2 {
  fill: $red;
  transition: all .4s;
}

#logo:hover {
  .logo-svg-1 {
    /*fill:#1C7DFF;*/
    fill: #108DEA;
  }

  .logo-svg-2 {
    /*fill:#6BCDFF;*/
    fill: #3DE7F8;
  }
}

/* nav */

#nav {
  position: fixed;
  height: 100vh;
  width: 60px;
  background-color: #181818;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.32), 0 2px 10px 0 rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;

  #navSocials{
    text-align:center;
    li{
      margin:12px 0;
      font-size:1.4em;
      list-style-type:none;
      a{
        color:$gray;
        transition: color 150ms ease-in-out;

        &:hover{
          color:$orange;
        }
      }
    }
  }
}

@media only screen and (max-width: 962px) {
  #nav{
    height:60px;
    width:100%;
    flex-direction: row;
    padding:0 14px;

    .navlinks, #navSocials{
      display:flex;
      width: auto;
      align-items: center;
    }

    .navlinks{
      margin-top:0;
      margin-left:6em;

      .navlink{
        margin:0 7px;

        a::after{
          display:none;
        }
      }
    }

    #navSocials{
      li{
        margin: 0 8px;
      }
    }
  }
}

.disable-nav{
  .navlink{
    a{
      cursor: not-allowed !important;
    }
  }
}

.navlinks {
  display: block;
  text-align: center;
  margin-top: 38px;

  .navlink {
    position: relative;
    height: 60px;

    a {
      display: block;
      text-decoration: none;
      color: #a4a5a3;
      font-size: 1.2em;
      transition: color 250ms;
      padding: 16px 0;

      svg{
        fill:$gray;
        transition:fill 200ms ease-in-out, opacity 250ms ease-in-out;
      }

      &:hover {
        color: $orange;

        svg{
          fill:$orange;
          opacity:0;
        }
      }
    }


    &:after{
      display:block;
      text-align:center;
      opacity:0;
      pointer-events: none;
      text-shadow: #000 1px 0 6px;
      color: $orange;
      font-size: .69em;
      font-weight: 900;
      position: relative;
      top: -39px;
      left:0;
      transition: opacity 150ms ease-in-out;
    }

    &:nth-child(1):after{
      content: "HOME";
      top:-43px !important;
      font-size:.7em !important;
    }
    &:nth-child(2):after{
      content: "ABOUT";
      top:-43px !important;
      font-size:.7em !important;
    }
    &:nth-child(3):after{
      content: "MY WORK";
    }
    &:nth-child(4):after{
      content: "CONTACT";
    }

    &:hover:after {
      opacity:1;
    }

  } /* /navlink */
} /* /navlinks */

#mobileNav{
  margin: auto 0;
  display: none;

  i{
    color:white;
    font-size:24px;
  }
}

@media only screen and (max-width: 531px) {
  .navlinks, #navSocials{
    display:none !important;
  }

  #mobileNav{
    display: block;
  }
}


.active{
  fill: $orange !important;
}

/* First section */
section {
  width: 100%;
  min-height:80vh;

  &:first-of-type{
    height: 100vh;
  }

  .sectionHeader{
    display:block;
    text-align:center;
    padding: 2em 0 1em 0;
  }

  &:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.mobile-padding{}

@media only screen and (max-width: 962px) {
  .mobile-padding{
    padding-top:4.2em !important;
  }
}

canvas {
  width: 100%;
  height: 100vh;
}

#particles {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #151515;
  background-color: #1d1d1d;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
}

.entry {
  position: relative;
  font-size: 2.8em;
  color: white;
  display: block;
  text-align: left;
  user-select: none;
  pointer-events: none;

  .flex{
    span{
      font-family: 'Kufam', Sans-serif !important;
    }
  }
}

@media only screen and (max-width: 962px) {
  .entry{
    font-size:2.2em;
  }
}

/* Entry animations */

#hello-1, #hello-2{
  display:none;
}

.animate {
  margin: 0 4px;

  span {
    display: inline-block;
  }
}

/* Entry animation one */
.entry-animation-1 span {
  opacity: 0;
  transform: translate(-150px, -50px) rotate(-180deg) scale(3);
  animation: revolveScale .7s forwards;
}

@keyframes revolveScale {
  60% {
    transform: translate(20px, 20px) rotate(30deg) scale(.3);
  }

  100% {
    transform: translate(0) rotate(0) scale(1);
    opacity: 1;
  }
}

/* Entry animation two */
.entry-animation-2 span {
  opacity: 0;
  transform: translate(-300px, 0) scale(0);
  animation: sideSlide .7s forwards;
}

@keyframes sideSlide {
  60% {
    transform: translate(20px, 0) scale(1);
    color: #fff;
  }

  80% {
    transform: translate(20px, 0) scale(1);
    color: #fff;
  }

  99% {
    transform: translate(0) scale(1.2);
    color: $lightorange;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

#entry-primary{
  display:none;
  animation: secondary-entry-animation 250ms ease-in-out;

  span{
    transition:color 1.5s ease-out;
    pointer-events: all;

    &:hover{
      transition:color 15ms ease-in;
      color:$orange;
    }
  }
}

/* Secondary entry animation */
#entry-secondary {
  position: absolute;
  left: 16px;
  font-size: .4em;
  font-weight: 400;
  color: #6c757d !important;
  display: none;
  animation: secondary-entry-animation 250ms ease-in-out;

  span{
    transition:color 1.5s ease-out;
    pointer-events: all;

    &:hover{
      transition:color 15ms ease-in;
      color:$lightblue;
    }
  }
}

@keyframes secondary-entry-animation {
  0% {
    transform: translateY(0);
    text-shadow: 0 0 0 $lightorange, 0 0 0 $lightorange,  0 0 0 $lightorange,  0 0 0 $lightorange;
  }

  20% {
    transform: translateY(-0.5em);
    text-shadow: 0 0.125em 0 $lightred, 0 0.25em 0 $lightred,  0 -0.125em 0 $lightred,  0 -0.25em 0 $lightred;
  }

  40% {
    transform: translateY(0.25em);
    text-shadow: 0 -0.0625em 0 $lightorange, 0 -0.125em 0 $lightorange,  0 0.0625em 0 $lightorange,  0 0.125em 0 $lightorange;
  }

  60% {
    transform: translateY(-0.15em);
    text-shadow: 0 0.03125em 0 $lightorange, 0 0.0625em 0 $lightorange,  0 -0.03125em 0 $lightorange,  0 -0.0625em 0 $lightorange;
  }

  80% {
    transform: translateY(0);
    text-shadow: 0 0 0 $orange, 0 0 0 $orange,  0 0 0 $orange,  0 0 0 $orange;
  }
}

/* Wave animation */

.wave {
  animation: wave-animation 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
  transform-origin: 60% 60%;
  display: inline-block;
  line-height: 0px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* First button w/ animation */

.nextSection, .prevSection {
  border: 2px solid #bebfbe;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  transform: rotate(90deg);
  margin-bottom: 25px;
  transition: border-color 250ms ease-in-out;


  &:hover {
    cursor: pointer;
    border-color: $orange;
  }
}

.prevSection{
  transform: rotate(270deg) !important;
}

.arrow-wrapper{
  height: 100%;
  width: 100%;
  position: absolute;
}

.arrow {
  position: absolute;
  margin-left: 0px;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 9.5px;
  left: 16px;
}


.next::after {
  /* SVG url encoder: https://yoksel.github.io/url-encoder/ */
  content: url("data:image/svg+xml,%3Csvg id='Lag_1' data-name='Lag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 566.89 997.03'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23fff;stroke:%23000;stroke-miterlimit:10;stroke-width:9px;%7D%3C/style%3E%3C/defs%3E%3Cpolygon class='cls-1' points='4.53 9.97 560.08 498.53 4.53 987.08 4.53 782.45 333.13 493.47 5.06 204.97 4.53 9.97'/%3E%3C/svg%3E");
  font-size: 1.2em;
}

/* Section controls */

#sectionCtrls {
  position:fixed;
  top:80vh;
  right:25px;
  animation: sectionCtrlsEntry 150ms ease-in-out;
  transition:opacity 150ms ease-in-out;

  .nextSection, .prevSection{
    border-color: #888;
    transition: transform 250ms ease-in-out;
    &:hover {
      border-color: $orange;
    }

    .arrow{
      top:8px;
      left:13px;
      top: 11px;
      left: 16px;
    }

    .next::after {
      /* SVG url encoder: https://yoksel.github.io/url-encoder/ */
      content: url("data:image/svg+xml,%3Csvg id='Lag_1' data-name='Lag 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 566.89 997.03'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23a4a5a3;stroke:%23a4a5a3;stroke-miterlimit:10;stroke-width:9px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M4.53,10,560.08,498.53,4.53,987.08V782.45l328.6-289L5.06,205Z' transform='translate(0 0)'/%3E%3C/svg%3E");
      font-size: 1.2em;
    }
  }

  .next::after {
    color: #888;
  }

  /* Info popover "To the top!" */
  #infoPopover{
    padding: 6px 5px 5px 5px;
    position: absolute;
    left: -36px;
    bottom: -22px;
    width: 80px;
    background: $black;
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-content: center;
    font-size: .8em;
    z-index: 6;
    animation:popoverEntry 150ms ease-in-out;

    &:after{
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $black;
      position: absolute;
      top: -8px;
      left: 48px;
      z-index: 5;
    }

    &:hover{
      cursor:pointer;
    }
  }
}

@keyframes popoverEntry{
  0%{
    display:block;
    opacity: .1;
    bottom: -50px;
  }
  20%{
    opacity:.4;
    bottom: -30px;
  }
  100%{
    opacity:1;
    bottom: -22px;
  }
}

@keyframes sectionCtrlsEntry{
  0%{
    right:-50px;
  }
  90%{
    right:10px;
  }
  100%{

  }
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }

  25% {
    opacity: 0;
    transform: translateX(10px) scale(.9);
  }

  26% {
    opacity: 0;
    transform: translateX(-9px) scale(.9);
  }

  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrow.secondary-first-arrow.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.nextSection:hover .arrow, .prevSection:hover .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  &.primary-first-arrow {
    animation-name: bounceAlpha;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

/* ABOUT */

#about{

  .flex-c .w50{
    opacity:0;
  }
}

.selfie{
  position:relative;
  margin:0 auto;
  background: url('../img/selfie-bw.png');
  background-size: 500px;
  background-repeat:no-repeat;
  width:calc(2*236px);
  height:calc(2*322px);
  border-radius: 5px;
  border: 1px solid white;
  overflow:hidden;
}
.color{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  height: 225px;
  background: url(../img/selfie-nobg.png);
  background-size: 500px;
  background-repeat: no-repeat;
  transition: opacity 150ms ease-in-out;
  border-radius: 50%;
}

#mobile-selfie{
  display:none;
  width: 65%;
  margin: 0 auto;
  border-radius: 5px;
}

#mobile-skills{
  display:none;
  width:100%;

  #mobile-skill{
    border:2px solid red;
    border-radius:5px;
    color:red;
  }
}
@media only screen and (max-width: 1208px) {
  .selfie, #skills-container{
    display:none;
  }

  #mobile-selfie{
    display:block;
  }

  #aboutMe{
    font-size: 13px;
  }


  #mobile-skills{
    display: flex;
    flex-wrap: wrap;
    margin:7px 0;

    .mobile-skill{
      padding: 0px 5px;
      margin: 5px;
      border: 2px solid;
      color:#fff;
      border-radius: 8px;
    }

    .ps{
      color:#00c8ff !important;
      border-color:#00c8ff !important;
    }
  }
}

@media only screen and (max-width: 705px) {
  #about{
    .flex-c{
      display:block;
    }

    .w50{
      width:75%;
      margin:0 auto;
    }
  }
}

#aboutMe{
  max-width:600px;

  .aboutSection{
    padding:14px 0;
  }

  /* SVG */

  .nodeWrapper{
    &:hover{
      cursor: grab;
    }

    &:active{
      cursor:grabbing;
    }
  }

  .links {
    stroke: $black;
  }

  .node {
    fill: white;
    stroke: $orange;
    stroke-width: 2px;
  }

  div.tooltip {
    position: absolute;
    text-align: center;
    padding: 3px 6px;
    background: rgba(255, 255, 255, .9);
    color:$black;
    font-weight: bold;
    border: 3px solid $orange;
    border-radius: 8px;
    pointer-events: none;
  }
}

/* MY WORK */

#mywork{
  padding-top:60px;
}

/* NG-ANIMATE */

@keyframes up-in {
  from {
    opacity: 0;
    bottom: 0%;
  }
  to {
    opacity: 1;
    bottom: 50%;
  }
}

.fill {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: visible;
  background-color: white;
  position: relative;
}

.container.no-scroll {
  overflow: hidden;
}

.page {
  width: 80%;
  padding: 10px;
  background-color: white;
}

@media (max-width: 600px) {
  .page {
    width: 90%;
  }
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.grid .grid-item {
  opacity:0;
  width: 25%;
  position: relative;
  overflow:hidden;
  border: 3px solid #fff;
  border-radius:5px;
  transition:border-color .3s ease;
}
.grid-item:hover{
  border-color:$orange
}

.grid .grid-item:after {
  content: '';
  display: block;
  margin-top: 100%;
}

@media (max-width: 600px) {
  .grid .grid-item {
    width: 50%;
  }
}

.box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width:100%;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  overflow: hidden;
  cursor: pointer;
}


.box .overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align:center;
  color:white;
  transition: opacity .3s ease;
  background-color: #323232;
}

.overlay div{
  pointer-events:none;
}

.box:hover {
  .overlay{
    opacity: .98;
  }
}

.overlayHeader {
  display: block;
  font-size: 1.7em;
}

.overlayText {
  font-size: 1em;
  margin: 12px;
  color: $orange;
}

.overlayBtn {
  &:hover {
    background-color: #fff;
    color: black;
    cursor: pointer;
  }
  outline: none;
  text-align: center;
  background-color: transparent;
  color: #fff;
  padding: 8px;
  margin: 18px 0px;
  border: 2px solid #fff;
  box-sizing: inherit;
  display: inline-block;
  font-size: .8em;
  transition: all .5s;
  cursor: pointer;
  text-decoration: none;
}

.box:hover .overlay {
  .overlayHeader {
    position: relative;
    animation: workBoxAnimate1 0.5s;
  }
  .overlayText {
    position: relative;
    animation: workBoxAnimate2 0.5s;
  }
}

@keyframes workBoxAnimate1 {
  from {
    top: -25px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes workBoxAnimate2 {
  from {
    bottom: -25px;
    opacity: 0;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}

.box img {
  width: 100%;
  transition: transform 0.6s ease;
}

.box.selected {
  opacity: 0;
}

.box.on-top {
  cursor: default;
  transition: all 0.4s ease;
  box-shadow: 2px 2px 19px -2px rgba(0, 0, 0, 0.44);
}

.box.image-out img {
  transform: translateY(-100%);
}

.content {
  position: absolute;
  padding: 20px 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.show .content {
  opacity: 1;
}

@media (max-width: 600px) {
  .content {
    padding: 10px 20px;
  }
  .grid{
    .grid-item{
      margin:5px;
    }
  }
}
@media (max-width: 531px) {
  .on-top{
    overflow:auto;
  }
}
.scroller {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  z-index:2;
}
.scroller h1 {
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: 400;
  font-size: 3.5em;
  width: 100%;
  margin-bottom: 30px;
  position: absolute;
  bottom: 50%;
  text-align: center;
  animation: up-in 1s ease;
}
.top-up.ng-hide-add, .top-up.ng-hide-remove {
  transition: 0s ease top;
}
.top-up.ng-hide-add-active, .top-up.ng-hide-remove-active {
  transition: 0.6s ease top;
}
.top-up.ng-hide-add {
  top: 0;
}
.top-up.ng-hide-add.ng-hide-add-active {
  top: 100%;
}
.top-up.ng-hide-remove {
  top: 100%;
}
.top-up.ng-hide-remove.ng-hide-remove-active {
  top: 0;
}
.fullscreen-background {
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #333;
  transition: top 0.5s ease;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index:1;
}
.fullscreen-background.show {
  top: 0;
}
.close-button {
  position: fixed;
  top: 25px;
  right: 35px;
  color: white;
  cursor: pointer;
  z-index:3;
}
.close-button i {
  font-size: 35px;
}
.close-button:hover {
  color: #ddd;
}

@media only screen and (max-width: 962px) {
  .close-button{
    top:75px;
  }
}

/************/
/************/
/* CONTACT */

#contact {
  background-color: #252934;
  color: white;
  padding: 0;
  form{
    width: 33%;
    margin:0 auto;
    .contactInput{
      margin: 12px 0;
    }
    /* Change autocomplete styles in WebKit */
    input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 30px #1E242C inset !important;
      -webkit-text-fill-color: #fff !important;
    }
  }

  .sectionHeader {
    margin-bottom: 1vh;
    text-align: center;

    hr{
      background: #fff !important;
    }
  }

  .contactFormWrapper {
    label {
      font-size: 16px;
    }

    width: 100%;
    display: flex;
    flex-direction: column;

    input {
      &[type=text], &[type=email] {
        display: block;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        border: 2px solid transparent;
        padding: 10px 15px;
        background: #1E242C;
        font-size: 16px;
        margin-bottom: 3px;
        color: #fff;
        transition: 200ms;
      }
    }

    textarea {
      display: block;
      width: 100%;
      box-sizing: border-box;
      outline: none;
      border: 2px solid transparent;
      padding: 10px 15px;
      background: #1E242C;
      font-size: 16px;
      margin-bottom: 3px;
      color: #fff;
      transition: 200ms;
      height: 180px;
      font-size: 16px;

      &:focus{
        border: 2px solid $orange;
      }
    }

    input {
      &[type=text]:focus, &[type=email]:focus {
        border: 2px solid $orange;
      }
    }

    button[type=submit] {
      margin: 8px 0px 0px 0px;
      padding: 8px 20px;
      text-transform: uppercase;
      background:$orange;
      color:white;
      border: 2px solid transparent;
      transition:all .25s ease;
      &:hover{
        cursor:pointer;
        background:transparent;
        border-color:$orange;
      }
    }
    .contactInput {
      opacity: 0;
      &:last-of-type {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15px;
      }

    }
    /* align submit button right */
    textarea {
      resize: none;
    }
    .required {
      color: #FF0000;
      font-size: 1.3em;
    }
  }
}
@media only screen and (max-width: 962px) {
  #contact{
    .contactFormWrapper{
      form{
        width:75%;
      }
    }
  }
}
@media only screen and (max-width: 624px) {
  #sectionCtrls{
    top:62vh;
    right:5px;
  }
}
@media only screen and (max-width: 531px) {
  #sectionCtrls{
    display:none !important;
  }
}
.animate-top{position:relative;animation:animatetop 1.1s}@keyframes animatetop{from{top:-80px;opacity:0} to{top:0;opacity:1}}
.animate-left{position:relative;animation:animateleft 1.1s}@keyframes animateleft{from{left:-150px;opacity:0} to{left:0;opacity:1}}
.animate-right{position:relative;animation:animateright 1.1s}@keyframes animateright{from{right:-150px;opacity:0} to{right:0;opacity:1}}


/* MOBILE NAV */

@mixin center {
  position: absolute;
  top: 400%;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-icon-toggle {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 9;
  .home & {
    top: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  span {
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    background-color: $white;
    transform: translate(0, -50%);
    transition: opacity 0.3s 0.3s;
    .home:not(.open) & {
      background-color: $white;
    }
  }
  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: $white;
    transition: transform 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s;
  }
  &::before {
    top: 6px;
  }
  &::after {
    bottom: 6px;
  }
  .open & {
    span {
      opacity: 0;
      transition: opacity 0.3s;
    }
    &::before,
    &::after {
      background-color: #fff;
    }
    &::before {
      top: calc(50% - 1px);
      transform: rotate(45deg);
    }
    &::after {
      bottom: calc(50% - 1px);
      transform: rotate(-45deg);
    }
    &::before,
    &::after {
      transition: top 0.3s, bottom 0.3s, transform 0.3s 0.3s;
    }
  }
}

body.open{
  html{
    overflow: hidden !important;
  }
}

.menu-background {
  visibility: hidden;
  width: 300%;
  /*height: 250px;*/
  height: 300px;
  position: absolute;
  left: -110%;
  background-color: $white;
  transition: background-position 0.5s, transform 0.5s 0.5s, visibility 0.5s 1s;
  .open & {
    visibility: visible;
    transition: background-position 0.5s, transform 0.5s 0.5s;
  }
  &.top {
    transform: rotate(-45deg) translateY(-150%);
    background: linear-gradient(to top, $orange 50%, $lightblue 50%);
    background-size: 100% 200%;
    background-position: -100% 100%;
    .open & {
      transform: rotate(-45deg) translateY(-49%);
      background-position: 0 0;
    }
  }
  &.middle {
    transform: rotate(-45deg) translateY(50%) scaleY(0);
    background: $black;
    .open & {
      transform: rotate(-45deg) translateY(50%) scaleY(1);
    }
  }
  &.bottom {
    transform: rotate(-45deg) translateY(250%);
    background: linear-gradient(to bottom, $lightblue 50%, $orange 50%);
    background-size: 100% 200%;
    background-position: 0 -100%;
    .open & {
      transform: rotate(-45deg) translateY(149%);
      background-position: 0 0;
    }
  }
}

.menu {
  @include center;
  visibility: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 99999;
  .open & {
    visibility: visible;
  }
  li {
    opacity: 0;
    margin-bottom: 5px;
    transform: translateX(20px);
    transition: all 0.3s;
    $time-offset-close: 0;
    @for $i from 5 through 1 {
      &:nth-child(#{$i}) {
        $time-offset-close: $time-offset-close + 0.1;
        transition-delay: #{$time-offset-close}s;
        span {
          transition-delay: #{$time-offset-close}s;
        }
      }
    }
    .open & {
      opacity: 1;
      transform: translateX(0);
      backface-visibility: hidden;
      $time-offset-open: 1;
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          $time-offset-open: $time-offset-open + 0.1;
          transition-delay: #{$time-offset-open}s;
          span {
            transition-delay: #{$time-offset-open}s;
          }
        }
      }
    }
  }
  a {
    position: relative;
    font-size: 24px;
    text-decoration: none;
    color: $orange;
    &::before {
      content: '';
      display: block;
      height: 2px;
      width: 0;
      position: absolute;
      left: -30px;
      top: 50%;
      background-color: $danube;
      transform: translateY(-50%);
      transition: width 0.3s;
    }
    &:hover {
      &::before {
        width: 15px;
      }
    }
  }
}

#server_msg{
  width: 33%;
  padding: 8px 12px;
  border-radius: 5px;
  margin: 0 auto;
  color:#fff;
}

/*.content {
  @include center;
  width: 100%;
  text-align: center;
  color: $white;
  transition: all 0.3s 1s;
  .open & {
    opacity: 0;
    transition: all 0.3s;
  }
}*/